<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header" style="background-color: #bf0000;">
        <h3 class="card-title" style="color: white;"><%= @user.name %></h3>
      </div>
      <div class="card-body" style="text-align: center;">
        <% if @user.image? %>
        <img class="rounded img-fluid" src="<%= @user.image %>" alt="">
        <% else %>
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= favorites_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(favorites_user_path(@user)) %>">お気に入り商品一覧 <span class="badge badge-warning"><%= @count_likes %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">レビューした商品一覧</a></li>
    </ul>
    <%= render 'items/items', items: @favorites%>
  </div>
</div>