  <ul class="list-unstyled">
    <% @users.each do |user| %>
      <li class="media mb-2">
        <% if user.image? %>
        <img class="mr-4 rounded" style="height: 50px;" src="<%= user.image %>" alt="">
        <% else %>
        <img class="mr-4 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <% end %>
        <div class="media-body">
          <div>
            <p class="mt-2"><%= link_to user.name, user_path(user) %></p>
          </div>
        </div>
        <div class="media-body">
          <p class="mt-2"><a href="<%= favorites_user_path(user) %>">お気に入り数： <%= user.likes.count %></a></p>
        </div>
         <div class="media-body">
          <p class="mt-2"><a href="<%= reviews_user_path(user) %>">レビューした商品数： <%= user.coments.count %></a></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @users %>
