<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the RakutenItems</h1>
    </div>
  </div>
  
  <div class="table-responsive-sm">
   <table class="table table-hover table-bordered">
    <thead style="color: white; background-color: #bf0000;">
      <tr>
        <th>画像</th>
        <th>商品名</th>
        <th>価格</th>
        <th>概要</th>
        <th>評価</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @items.first(10).each do |item| %>
      <tr>
      　<td class=""><img src= "<%= item['smallImageUrls'][0]%>" %></td>
      　<td class=""><%= link_to item['itemName'],  item['itemUrl']%></td>
      　<td class=""><%= item.price %>円</td>
      　<td class=""><%= item['itemCaption'] %></td>
      　<td class=""></td>
      　<td class=""><button class="far fa-star"></button></td>
      </tr>
      <% end %>
    </tbody>
   </table>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to RakutenItems</h1>
      <%= link_to '新規会員登録はこちら', signup_path, class: 'btn btn-danger rounded-pill pr-4 pl-4' %>
    </div>
  </div>
<% end %>

