   <%= form_with(url: search_items_path, method: :get, local: true) do |f| %>
     <div class="d-flex justify-content-center">
      <div class="form-group">
       <%= f.text_field :keyword, placeholder: "キーワードから探す", class: 'form-control', style: 'width: 400px;' %>
      </div>
      <div class="form-group mt-1">
       <%= button_tag type: "submit" do %>
        <span class="fas fa-search" style="color: gray;"></span>
       <% end %>
      </div>
     </div>
   <% end %>
  
  <div class="table-responsive-sm">
   <table class="table table-hover table-bordered">
    <thead style="color: white; background-color: #bf0000;">
      <tr>
        <th>画像</th>
        <th>商品名</th>
        <th>価格</th>
        <th>概要</th>
        <th>評価</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% ritems.first(20).each do |ritem| %>
        <% item = items.find_by(item_code: ritem['itemCode']) %>
        <% if item %>
          <tr>
          　<td class=""><img src= "<%= item.image %>" ></td>
          　<td class=""><%= link_to item.name,  ritem['itemUrl']%></td>
          　<td class=""><%= item.price %>円</td>
          　<td class=""><%= item.content %></td>
          　<% if item.average %>
            　<td class=""><%= link_to item.average, item_reviews_path(item) %></td>
            <% else %>
            　<td class=""><%= link_to 'レビュー', item_reviews_path(item) %></td>
            <% end %>
          　<td class=""><%= render 'favorites/favorite_button', item: item %></button></td>
          </tr>
        <% else %>
          <tr>
          　<td class=""><img src= "<%= ritem['smallImageUrls'][0]%>" ></td>
          　<td class=""><%= link_to ritem['itemName'],  ritem['itemUrl']%></td>
          　<td class=""><%= ritem.price %>円</td>
          　<td class=""><%= ritem['itemCaption'] %></td>
          　<td class="">
          　  <%= form_with(url: items_path, local: true) do |f| %>
              <%= hidden_field_tag :num, 1 %>
              <%= hidden_field_tag :image, ritem['smallImageUrls'][0]%>
              <%= hidden_field_tag :name, ritem['itemName'] %>
              <%= hidden_field_tag :price, ritem.price %>
              <%= hidden_field_tag :content, ritem['itemCaption']%>
              <%= hidden_field_tag :item_code, ritem['itemCode']%>
              <%= f.submit 'レビュー', class: 'btn btn-primary btn-sm' %>
             <% end %>
          　</td>
          　<td class="">
          　   <%= form_with(url: items_path, local: true) do |f| %>
                <%= hidden_field_tag :num, 2 %>
                <%= hidden_field_tag :user_id, current_user.id %>
                <%= hidden_field_tag :image, ritem['smallImageUrls'][0]%>
                <%= hidden_field_tag :name, ritem['itemName'] %>
                <%= hidden_field_tag :price, ritem.price %>
                <%= hidden_field_tag :content, ritem['itemCaption']%>
                <%= hidden_field_tag :item_code, ritem['itemCode']%>
                <%= button_tag type: "submit", class: "border-0", style: "background-color: white;" do %>
                  <i class="far fa-star" onMouseOut="this.style.background=''" onMouseOver="this.style.background='gold'"></i>
                <% end %>
              <% end %>
             </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
   </table>
  </div>