<div class="center jumbotron p-1" style="background-color: #f8f8ff;">
  <div class="text-center">
    <h1 style="color: #bf0000;">お気に入り数ランキングTOP15</h1>
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table table-hover table-bordered">
    <tbody>
      <% lastFavoriteCount = 0 %>
      <% j = 1 %>
      <% @fav_items.first(15).each.with_index(1) do |item, i| %>
      <tr>
        <% if i == 1 %>
          <% lastFavoriteCount = item.liked_items.count %>
        <% end %>
        <% if lastFavoriteCount != item.liked_items.count %>
          <td class=""><%= i %>位</td>
          <% lastFavoriteCount = item.liked_items.count %>
          <% j = i %>
        <% else %>
          <td class=""><%= j %>位</td>
          <% lastFavoriteCount = item.liked_items.count %>
        <% end %>
          <td class=""><%= item.liked_items.count %>件</td>
        　<td class=""><img src= "<%= item.image %>" %></td>
        　<td class=""><%= item.name %></td>
        　<td class=""><%= item.price %>円</td>
        　<td class=""><%= item.content %></td>
        　<% if item.average %>
        　   <td class=""><%= link_to item.average, item_reviews_path(item) %></td>
        　<% else %>
        　   <td class=""><%= link_to 'レビュー', item_reviews_path(item) %></td>
        　<% end %>
        　<td class=""><%= render 'favorites/favorite_button', item: item %></button></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>