<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the RakutenItems</h1>
    </div>
  </div>
  
  <div class="table-responsive-sm">
   <table class="table table-hover table-bordered">
    <thead style="color: white; background-color: #bf0000;">
      <tr>
        <th>画像</th>
        <th>商品名</th>
        <th>価格</th>
        <th>概要</th>
        <th>評価</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @Ritems.first(10).each do |ritem| %>
        <% item = @items.find_by(item_code: ritem['itemCode']) %>
        <% if item %>
          <tr>
          　<td class=""><img src= "<%= item.image %>" %></td>
          　<td class=""><%= link_to item.name,  ritem['itemUrl']%></td>
          　<td class=""><%= item.price %>円</td>
          　<td class=""><%= item.content %></td>
          　<td class="">
          　 平均評価： 
          　</td>
          　<td class=""><button class="far fa-star"></button></td>
          </tr>
        <% else %>
          <tr>
          　<td class=""><img src= "<%= ritem['smallImageUrls'][0]%>" %></td>
          　<td class=""><%= link_to ritem['itemName'],  ritem['itemUrl']%></td>
          　<td class=""><%= ritem.price %>円</td>
          　<td class=""><%= ritem['itemCaption'] %></td>
          　<td class="">
          　  <%= form_with(model: @item, local: true) do |f| %>
              <%= hidden_field_tag :image, ritem['smallImageUrls'][0]%>
              <%= hidden_field_tag :name, ritem['itemName'] %>
              <%= hidden_field_tag :price, ritem.price %>
              <%= hidden_field_tag :content, ritem['itemCaption']%>
              <%= hidden_field_tag :item_code, ritem['itemCode']%>
              <%= f.submit '保存', class: 'btn btn-primary btn-sm' %>
             <% end %>
          　</td>
          　<td class=""><button class="far fa-star"></button></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
   </table>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to RakutenItems</h1>
      <%= link_to '新規会員登録はこちら', signup_path, class: 'btn btn-danger rounded-pill pr-4 pl-4' %>
    </div>
  </div>
<% end %>

